.background1 {
  width: inherit;
  height: 35vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.para {
  width: 467px;
}

.mini-button {
  background: conic-gradient(
    from 117.36deg at 40% 58.57%,
    #00ffff 0deg,
    #698aff 360deg
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 21px;
}


