.background {
  display: flex;
  background: conic-gradient(
    from 102deg at 40% 58.57%,
    #00ffff 0deg,
    #698aff 360deg
  );
  width: inherit;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 239.44px;
  height: 197.16px;
  left: 64px;
}

.frame {
  width: 527.64px;
  height: 293.84px;
  margin: 64px;
  display: flex;
  flex-direction: column;
}

.text1 {
  position: relative;
  color: #ffffff;
  font-family: Staatliches;
  font-size: 59.7333px;
  text-shadow: 0px 5.52942px 5.52942px rgba(0, 0, 0, 0.25);
}

.text2 {
  position: relative;

  /* background: conic-gradient(
    from 117.36deg at 40% 58.57%,
    #00ffff 0deg,
    #698aff 360deg
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Staatliches;
  line-height: 174px;
  font-size: 139.378px;
  text-shadow: 0px 8.73738px 8.73738px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center; */
}

.text3 {
  font-family: "Gilroy-Bold";
  position: relative;
  font-size: 86.9597px;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-shadow: 0px 7.50275px 7.50275px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-top: -50px;
  margin-right: -300px;
}

.text4 {
  position: relative;
  font-family: Staatliches;
  font-size: 44.8px;
  letter-spacing: 6.1px;
  color: #ffffff;
  text-shadow: 0px 2.94141px 2.94141px rgba(0, 0, 0, 0.25);
  margin-top: -10px;
}

.frame2 {
  width: 297px;
  height: 387px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 5vh;
}

.label {
  font-family: Gilroy-Medium;
  font-size: 32px;
  margin: 25px 0px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label2 {
  position: static;
  width: 201px;
  height: 57px;
  color: white;
  font-family: Gilroy-Medium;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.buttonclass {
  margin: 32px 0px;
  width: 150px;
  height: 34px;
  border: 0;
  color: rgba(89, 157, 255, 0.8);
  background-color: white;
  font-family: Gilroy-Regular;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}

.group {
  margin: 32px 0px 0px 0px;
}

.coin {
  width: 139px;
  height: 128px;
  left: 64px;
}
