.tab {
  width: inherit;
  height: 5vh;
  background-color: #151515;
  display: flex;
}

.dropdown {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25vw;
  margin-top: 5px;
}

.dropdownDown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.option {
  display: none;
}

.optionclicked {
  display: flex;
  position: relative;
  background-color: rgb(31, 29, 29);
  color: white;
  width: 100px;
  justify-content: center;
  cursor: pointer;
}
.optionclicked:hover {
  background-color: rgb(58, 56, 56);
}

.links {
  display: flex;
  width: 75vw;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  cursor: pointer;
}

.holder {
  display: flex;
  flex-direction: column;
}
